<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
  <section class="info_section layout_padding-top">
    <div class="info_logo-box">
      <h2>Calligraphy</h2>
    </div>
    <div class="container">
      <div class="social_container">
        <div class="social-box">
          <a href="">
            <img src="/static/images/linkedin.png" alt="LinkedIn">
          </a>
          <a href="">
            <img src="/static/images/instagram.png" alt="Instagram">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; The Ayushi

    </p>
  </section>
</body>
</html>
