<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calligraphy by Ayushi</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />
</head>
<body>
    <h1 class="text-center">Calligraphy by Ayushi</h1>

    <section class="auth_section">
      <div class="container">
        <div class="auth_content justify-content-center text-center">
          <div class="auth_detail-box" id="loginForm">
            <h2>Login</h2><br>

            {% if msg %}
              <p class="error-msg">{{ msg }}</p>
            {% endif %}

            <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>

            <h4>
              <a href="{% url 'register' %}" class="btn btn-link">Don't have an account? Register here</a>
            </h4>
          </div>
        </div>
      </div>
    </section>
</body>
</html>
